@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');
@import "search/search.scss";
@import "genre/genre.scss";
@import "sort/sort.scss";
@import "movies/movies.scss";
@import "overlay/overlay.scss";


*{
   box-sizing: border-box;
}

$primary-color: #041c2c;
$secondary-color: #2f87b9;

.no-results{
   color:white;
}

@media only screen and (max-width: 617px) {

   main{ margin-top: 0rem; }

   .search{
       padding:0.5rem;
       font-size: 0.9rem;
       text-align: center;
       display:flex;
       flex-wrap: wrap;
       justify-content: center;
       margin-top: 2rem;
       align-items: center;
       margin: 1rem auto;
       float: none;
       }
   
   .btn {
       display: none;
     }
   
   #sort:hover .btn{
       display: none ;
   }
   #sort { 
       display:flex;
       flex-wrap: wrap;
       justify-content: center;
       align-items: center;
       margin: auto;
       float: none;   
   }

   .sort {
       border: 2px solid $secondary-color;
       padding:0.5rem 1rem;
       font-size: 0.8rem;
       margin-left: 0.5rem;
       display: inline-block;
   }
   .sort:hover{
       background-color: $secondary-color;
       color: white;    
   }
   header{     padding:0.1rem; }

   .movie {
       width: 120px;
       margin: 1rem;
   
       img{    width:100%; }
   }
   
   .movie-info{
       text-align: center;
       letter-spacing: 0.2px;
       font-size: 9px;
   
       span{   display: none;   }
   }
   .overview{  
   
       background-color: $secondary-color;
       padding: 0.75rem;
       max-height: 50%;
   

       h3, h8, p{
           display: none;
       }


       .know-more, .trailer{
           font-size: 11px;
           padding: 5px 10px;
           margin:auto;
           margin-top: 0.5rem;
           display:flex;
           flex-wrap: wrap;
           justify-content: center;
           align-items: center;
       }
   }   

   #tags{      width:100%;  }
   
   .tag{
       padding:5px 10px;
       font-size: 15px;
       display:none;
   }
   #genr{ width:100%;  }

   .genre{
       display: inline-block;
       padding:10px 60px;
       margin-top:25px;
   }
       #genr:visited .tag{ display: inline-block; }
   $primary-color: #041c2c;
   $secondary-color: #2f87b9;

   @mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white,  50%)) {
   &::-webkit-scrollbar {
       width:  $size;
       height: $size;
   }

   &::-webkit-scrollbar-thumb {
       background: $foreground-color;
   }

   &::-webkit-scrollbar-track {
       background: $background-color;
   }
   }
   .embed.show{
   display: inline-block;
   width: fit-content;
   }

   .arrow.left-arrow{
   top:85%;
   left:5%;
   transform: translateY(-50%);
   }

   .arrow.right-arrow{
   top:85%;
   transform: translateY(-50%);
   right:5%;
   }

   .overlay-content2 {
       text-align: left; 
       margin-top: 5rem; 
       margin-left: 1rem;
       padding: 1rem;
       max-height: 100%;

       .poster {
           width: 200px;
           border-radius: 3px;
           margin:1rem;
           float: right;

           img{
           width:100%;
           }
       }
       .title{
           font-family: inherit;
           font-size: 1.5rem;
           position: sticky;
       }
       .date{
           font-size: 1rem;
           text-align: left;
           margin-right: 1rem;
           font-weight: bold;

       }
       .lang{
           font-size: 0.8rem;
           
       }
       span{
           background-color: grey;
           padding: 0.4rem;
           font-size: 0.9rem;
           border-radius: 3px;
           font-weight: bold;
           margin-top: 3.4rem;
       }
       .desc{
           margin-right: 1rem;
           font-size: 1rem;
           padding: 0.1rem;
       }
       .rated{
           font-family: inherit;
           font-size: 1rem;
           font-weight: bold;

       }
   }
}

@media only screen and (min-width: 617px) and (max-width: 1200px) {

   main{ margin-top: 0rem; }

   .search{
       padding:0.3rem;
       text-align: center;
       margin: 1rem auto;
       float: left;
       margin-left: 10%;
       margin-right: 30rem;
   }
   
   .btn {
       padding:0.3rem 4.75rem;
       margin-right: 1rem;
       display: block;
   }
     
     
   #sort {
       display: inline-block;
       margin-left: 10%;
   }
   #sort:hover .sort {
       display: inline-block ;
   }
   .sort {
       background-color: transparent;
       border: 2px solid orange;
       padding:0.3rem 1rem;
       max-width: 3000px;
       border-radius: 10px;
       font-size: 1rem;
       color: rgb(255, 255, 255);
       font-family: inherit;
       margin-bottom: 0.5rem;
   
   }
   header{     padding:0.1rem; }

   .movie {
       width: 170px;
       margin: 1rem;
   
       img{    width:100%; }
   }
   
   .movie-info{
       padding: 0.5rem 1rem 1rem;
       letter-spacing: 0.3px;
       font-size: 10px;

       h3{
           margin-top: 0.5rem;
           margin-right: 0.2rem;
       }
       span{
           padding: 0.25rem 0.5rem;
           border-radius: 3px;
           font-weight: bold;
           display:flex;
           flex-wrap: wrap;
           justify-content: right;
           align-items: right;
           margin: 0.5rem 0rem;
           float: none;
       }
   }
   .overview { 
       padding: 1rem;
       max-height: 45%;
       h3 ,p{
           display: none;
       }
       
       h8{
           font-size: 0.8rem;
           display:flex;
           flex-wrap: wrap;
           justify-content: center;
           margin:0rem auto;
           letter-spacing: 0.5px;
       }

       .know-more , .trailer{
           color:white;
           font-size: 14px;
           display:flex;
           flex-wrap: wrap;
           justify-content: center;
           padding: 10px 15px;
           margin:0.5rem auto;
           cursor: pointer;
       }
   

       
   }

   #tags{      width:100%;  }
   
   .tag{
       padding:5px 10px;
       font-size:16px;
   }
   #genr{ width: 85%;  }
   .overlay-content2 {
       margin-top: 5rem;
       margin-right: 5rem;
       margin-left: 3rem;
       .poster {
           width: 275px;
           border-radius: 3px;
           margin-top:1rem;
           float: left;

           img{
           width:100%;
           }
       }
       .title{
           margin-right: 5rem;
       }
       .date{
           font-size: 1rem;
           text-align: left;
           margin-right: 1rem;
           font-weight: bold;

       }
       .lang{
           font-size: 0.8rem;
           
       }
       span{
           background-color: grey;
           padding: 0.4rem;
           font-size: 0.9rem;
           border-radius: 3px;
           font-weight: bold;
           margin-top: 3.4rem;
       }
       .desc{
           margin-right: 5rem;
           font-size: 1rem;
           padding: 0.1rem;
       }
       .rated{
           font-family: inherit;
           font-size: 1rem;
           font-weight: bold;

       }
   }
}
